/auto-save-list
/bookmarks
/elpa
/eshell
backups
*~
.places
.python-environments
session.*
tramp
swank
emms
site-lisp/adventur-mode
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
/recentf
/request
/tramp
/url
/var
